h1 {
    background-color: grey;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 75px;
    width: 1000px;
}

body {
 margin: 15px 35px;
}



.monthlyCost {
    background-color: white;
}

.monthlyCostRed {
    background-color: red;
}


