body {
    margin: 15px 30px;
   }

h1 {
    background-color: grey;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 75px;
    width: 1000px;
}

input {
    height: 25px;
    border-width: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-table;
       
}

h2 {
    margin-bottom: 0px;
}

.monthlyCost {
    background-color: white;
}

.monthlyCostRed {
    background-color: red;
}


