header {
    background-color: grey;
    color: white;
    text-align: center;
    height: 75px;
    
}


.monthlyCost {
    background-color: white;
}

.monthlyCostRed {
    background-color: red;
}


